---
layout: default
---

<div class="posts" id="results-container"></div>  

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    <li class="breadcrumb-item"><a href="acerca.html">Acerca</a></li>
  </ol>
</nav>

<p class="text-muted">
Si deseas aportar algún cliché que no hayamos recogido, puedes escribirnos a este correo: diccionariodelcliche(arroba)gmail.com
</p>
<p class="small text-muted">Coordinación: <a href="https://twitter.com/jagaraviles?lang=es" target="_blank">José Alberto García Avilés</a>. Desarrollo: <a href="https://twitter.com/mcarvajal_?lang=es" target="_blank">Miguel Carvajal</a></p>

<hr>

<div class="posts">

    {% for cliche in site.data.cliche %}
        <h4>
          <a class="post-link" href="https://www.google.es/search?q={{ cliche.cliche }}" target="_blank" alt="{{ cliche.cliche }} - Diccionario del cliché">{{ cliche.cliche }}</a>
        </h4>
    {% endfor %}

<!-- para extraer 
<p>
    {% for cliche in site.data.cliche %}
        '{{ cliche.cliche }}',
    {% endfor %}
</p>lista de cliches-->

<!-- para bot<p>
{% for cliche in site.data.cliche %}
<p>
"{{ cliche.cliche }}": [
   "'{{ cliche.cliche }}' es un cliché, quizá te conocer su significado. Écha un vistazo al diccionario del cliche",
 ],
</p> 
{% endfor %}

</p>lista de cliches-->



</div>
