<!-- Header -->
<header>
    <div class="sb-page-header pt-3 pb-5 bg-gradient-primary">
        <nav class="navbar ml-3 mr-3 navbar-light bg-transparent">
        <a class="navbar-brand" href="http://mip.umh.es/" target="_blank">
        <p class="text-white small">Máster de Innovación en Periodismo</p>
        </a>
        <a class="navbar-brand ml-5 pull-right" href="http://periodismo.umh.es/" target="_blank">
        <p class="text-white small">Periodismo UMH</p>
        </a>
        </nav>


        <div class="container text-center">
          <div class="row">
            <div class="col col-lg-12 col-sm-12">
            <img src="/images/chiclon.png" height="120" width="120" class="img-responsive">
            <h1>Diccionario del cliché</h1>    
            <h4>Un proyecto de innovación docente. En beta.</h4>
            </div>
        <div class="col-lg-12" id="search-demo-container">
            <div class="filter-parent" id="search">
            <label for="filter-by"><i class="fa fa-search"></i></label>
            <input type="text" placeholder="Buscar clichés" id="search-input" class="form-control input-lg" tabindex="1">
            </div>
        </div>
        </div>
        </div> 
    </div>
</header>